<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="Ruby on Rails developer, Junior developer" content="web developer portfolio">
    <meta name="author" content="">

    <title>Andrea Hurren | Junior Web Developer</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/agency.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body id="page-top" class="index">

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">Andrea Hurren</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#services">Services</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#portfolio">Portfolio</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#about">Skills</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#team">About Me!</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#contact">Contact</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <!-- Header -->
    <header>
        <div class="container">
            <div class="intro-text">
                <div class="intro-lead-in">Welcome to my website</div>
                <div class="intro-heading">It's Nice To Meet You!</div>
                <a href="#services" class="page-scroll btn btn-xl">Tell Me More</a>
            </div>
        </div>
    </header>

    <!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Services</h2>
                    <h3 class="section-subheading text-muted">Some of the technologies I currently use for web development:</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-shopping-cart fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">E-Commerce and dynamic apps with Ruby on Rails</h4>
                    <p class="text-muted">I have recently built and e-commerce app  a recent project and also a blog using the Rails framework. Im a Ruby on Rails beginner developer and I enjoy very much building apps in Rails as is such a dynamic and fast build type framework. Ruby is my first programming language and is also very dynamic and fun to learn and use. I've also been using heroku as a cloud application platform to deploy my web apps.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Responsive Design</h4>
                    <p class="text-muted">I know the fundamentals of responsive web development using HTML5 and CSS3, such as media queries, flexbox, fluid grids etc... I also use bootstrap as a resposive framework. I can also build websites using Wordpress and its plugins. </p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-spinner fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Web interactivity</h4>
                    <p class="text-muted">I also have basic knowledge of JavaScript and JQuery library. I can add basic interativity and animations to a website.I'm attending a few Javascripts workshops/classes at the moment.
            </div>
        </div>
    </section>

    <!-- Portfolio Grid Section -->
    <section id="portfolio" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Portfolio</h2>
                    <h3 class="section-subheading text-muted">Some of my projects:</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a href="http://dedeshopdemo.herokuapp.com" target= "_blank" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-eye fa-3x"></i>
                            </div>
                        </div>
                        <img src="assets/portfolio/project1.png" class="img-responsive" alt="">
                    </a>
                    <div class="portfolio-caption">
                        <h4>Bridal Shop</h4>
                        <p class="text-muted">E-commerce website in Ruby on Rails, Bootstrap and secure login</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a href="http://www.thanirarates.com" target="_blank" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                              <i class="fa fa-eye fa-3x"></i>
                            </div>
                        </div>
                        <img src="assets/portfolio/project5.png" class="img-responsive" alt="">
                    </a>
                    <div class="portfolio-caption">
                        <h4>Thanira Rates Photography</h4>
                        <p class="text-muted">Photography portfolio website built with Wordpress, HTML and CSS.<br><br></p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a href="http://smartscapesyorkshire.co.uk" target="_blank" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-eye fa-3x"></i>
                            </div>
                        </div>
                        <img src="assets/portfolio/treehouse.png" class="img-responsive" alt="">
                    </a>
                    <div class="portfolio-caption">
                        <h4>Gardening and Landscape Design</h4>
                        <p class="text-muted">Built using Wordpress, HTML and CSS. I'm still working on this project,<br><br></p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a href="#portfolioModal4" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-eye fa-3x"></i>
                            </div>
                        </div>
                        <img src="assets/portfolio/project4.png" class="img-responsive" alt="">
                    </a>
                    <div class="portfolio-caption">
                        <h4>Portfolio Website</h4>
                        <p class="text-muted">My first portfolio website, I've used the Bootstrap framework for responsivenes and design, basic JQuery/JS for user interaction.</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a href="http://mummycoder.herokuapp.com/" target="_blank" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-eye fa-3x"></i>
                            </div>
                        </div>
                        <img src="assets/portfolio/project3.png" class="img-responsive" alt="">
                    </a>
                    <div class="portfolio-caption">
                        <h4>Rails Blog</h4>
                        <p class="text-muted">This was built using the Rails framework. I want to start blogging about my journey into becoming a developer!<br><br></p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a href="https://dash.generalassemb.ly/dedeh/build-your-own-business-website" target="_blank" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-eye fa-3x"></i>
                            </div>
                        </div>
                        <img src="assets/portfolio/project6.png" class="img-responsive" alt="">
                    </a>
                    <div class="portfolio-caption">
                        <h4>Initial Projects page</h4>
                        <p class="text-muted">Some of the small projects I've been working on when I've started my journey into Web Development. (I will add a few more projects soon!)</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Skills</h2>
                    <h3 class="section-subheading text-muted">Some of the skills I've acquired in the past few years:</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="assets/portfolio/roundicons.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Front End Development</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">HTML5 (including basic canvas animation), CSS3, Bootstrap (including components and plugins), Responsive Web Development, JQuery and JavaScript. </p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="assets/about/1.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Back End Development</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Beginner's level in Ruby programming language and Rails framework, knowledge of MVC, fundamental knowledge of SQL queries and databases including Postgres and MySQL, Active Record (Rails). I also have knowledge in deploying apps to Heroku, and using Heroku add-ons. I'm currently learning Behaviour Driven Development using Rspec.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="assets/about/3.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Dev Tools</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">I have a Github accound where all the source code for most of my projects are available. I have working knowledge of Git Version Control. </p>
                                </div>
                            </div>
                        </li>
                          <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="assets/about/4.jpg" alt="soft skills">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Other admin, soft skills</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">I have excellent customer services skills I've acquired through the past few years as well as good organizational, problem solving and admin skills. I have also good working knowledge of MS Office packages (Word, Excel and Powerpoint mainly) and I do enjoy working in teams(big or small). 
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>And I'll
                                    <br> keep adding
                                    <br>to this list!
                                </h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

    <!-- Team Section -->
    <section id="team" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About me</h2>
                    <h3 class="section-subheading text-muted"></h3>
                </div>
            </div>
                <div class="col-lg-12">
                    <div class="team-member">
                        <img src="assets/team/3.jpg" class="img-responsive img-circle" alt="">
                        <h4>Hello!</h4>
                        <p class="text-muted">Web Dev for hire</p>
                        <ul class="list-inline social-buttons">
                            <li><a href="http://github.com/dede79"><i class="fa fa-github"></i></a>
                            </li>
                            <li><a href="https://www.facebook.com/andrea.hawkins.121"><i class="fa fa-facebook"></i></a>
                            </li>
                            <li><a href="https://uk.linkedin.com/in/andreahurren"><i class="fa fa-linkedin"></i></a>
                            </li>
                             <li><a href="http://twitter.com/andrea_hurren"><i class="fa fa-twitter"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <p class="large text-muted">I love to continous learning, from different languages to any programming languages and web tools. I also like to go travelling with my family, going for walks with my funny looking dog, flamenco dancing, meeting people and having a go at playstation games with my sons!</p>
                </div>
            </div>
        </div>
    </section>

    <!-- Tools -->
    <aside class="clients">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-6">
                    <a href="https://www.ruby-lang.org/en/">
                        <img src="assets/logos/ruby.jpg" target="_blank" class="img-responsive img-centered" alt="ruby">
                    </a>
                </div>
                <div class="col-md-3 col-sm-6">
                    <a href="#">
                        <img src="assets/logos/rails.png" class="img-responsive img-centered" alt="">
                    </a>
                </div>
                <div class="col-md-3 col-sm-6">
                    <a href="http://rubyonrails.org/">
                        <img src="assets/logos/heroku.png" class="img-responsive img-centered" alt="">
                    </a>
                </div>
                <div class="col-md-3 col-sm-6">
                    <a href="https://wordpress.org/">
                        <img src="assets/logos/wordpress.jpg" class="img-responsive img-centered" alt="">
                    </a>
                </div>
            </div>
        </div>
    </aside>
    
    <!-- Contact Section -->
    <section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Contact</h2>
                    <h3 class="section-subheading text-muted">Send me a message and I'll get back to you within 24hrs:</h3>
                </div>
            </div>
            <%= form_tag("/welcome/thank_you") do %>
                <div class="row">
                    <div class="col-lg-12">
                        <form name="sentMessage" id="contactForm" novalidate>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <% label_tag :name, "Name" %>
                                        <%= text_field_tag :name, nil, class: "form-control", placeholder: "Enter Name" %>
                                    </div>
                                    <div class="form-group">
                                        <% label_tag :email, "Email Address" %>
                                        <%= text_field_tag :email, nil, class: "form-control", placeholder: "Enter Email" %>
                                    </div>
                                    <div class="form-group">
                                        <% label_tag :phone %>
                                        <%= text_field_tag :phone, nil, class: "form-control", placeholder: "Telephone" %>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <% label_tag :message, "Message" %>
                                        <%= text_area_tag :message, nil, class: "form-control", placeholder: "Enter Message" %>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                                <div class="col-lg-12 text-center">
                                    <div id="success"></div>
                                    <%=submit_tag "Send", class: "page-scroll btn btn-xl"%>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        <% end %>
    </section>

    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <span class="copyright">Copyright &copy; Andrea Hurren 2015.</span>
                </div>
                <div class="col-md-4">
                    <ul class="list-inline social-buttons">
                        <li><a href="https://github.com/dede79"><i class="fa fa-github"></i></a>
                        </li>
                        <li><a href="https://www.facebook.com/andrea.hawkins.121"><i class="fa fa-facebook"></i></a>
                        </li>
                        <li><a href="https://uk.linkedin.com/in/andreahurren"><i class="fa fa-linkedin"></i></a>
                        </li>
                        <li><a href="https://twitter.com/andrea_hurren"><i class="fa fa-twitter"></i></a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <ul class="list-inline quicklinks">
                        <li><a href="#">Privacy Policy</a>
                        </li>
                        <li><a href="#">Terms of Use</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
    <script src="js/classie.js"></script>
    <script src="js/cbpAnimatedHeader.js"></script>

    <!-- Contact Form JavaScript -->
    <script src="js/jqBootstrapValidation.js"></script>
    <script src="js/contact_me.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="js/agency.js"></script>

</body>

</html>
